requests.get(verify='path/to/self-signed-certificate') cannot verify SAN

Verifying a certificate which have Subject Alternative Names with IP addresses (or DNS names), Common Name should not be checked and those addresses should be checked instead.
[RFC6125 section 6.4.4 describes this.](http://tools.ietf.org/html/rfc6125#section-6.4.4)

@kissgyorgy Thanks for this!

We already do this for DNS names, as you can see in [this code](https://github.com/kennethreitz/requests/blob/master/requests/packages/urllib3/packages/ssl_match_hostname/_implementation.py#L67-L105). The reason we don't do it for IP addresses in SANs is because we currently don't support authenticating IP addresses in SANs.

This is a bit of a flaw in urllib3, and we have an open issue for it in shazow/urllib3#258. Fixing that issue would automatically fix this problem, so I recommend focusing on that.